extends layout 
 
block content 
  h1= title 
 
  - let car_name = toShow.car_name 
  - let car_price = toShow.car_price
  - let car_model = toShow.car_model 
  div 
    div.row 
      div(class='carAttr mr-3') Car ID is: 
      div #{car_name} 
    div.row 
      div(class='carAttr mr-3') Car Type is: 
      div #{car_price} 
    div.row 
      div(class='carAttr mr-3') Car Size is: 
      div #{car_model} 
    